body {
  background-color: green;
}
​ .contenido {
  display: inline-flex;
}
​ .card {
  width: 50px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  margin: 4px;
  box-shadow: 1px 1px 2px black;
}
​ .card .number {
  width: 50px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2px;
  box-sizing: border-box;
}
​ .card .spades::before {
  content: "\2660";
  display: flex;
  align-items: flex-start;
  width: 100%;
}
​ .card .spades::after {
  content: "\2660";
  display: flex;
  align-items: flex-start;
  width: 100%;
  transform: rotate(180deg);
}
​ .card .clubs::before {
  content: "\2663";
  display: flex;
  align-items: flex-start;
  width: 100%;
}
​ .card.clubs::after {
  content: "\2663";
  display: flex;
  align-items: flex-start;
  width: 100%;
  transform: rotate(180deg);
}
​ .card .hearts::before {
  content: "\2665";
  display: flex;
  align-items: flex-start;
  width: 100%;
  color: red;
}
​ .card .hearts::after {
  content: "\2665";
  display: flex;
  align-items: flex-start;
  width: 100%;
  transform: rotate(180deg);
  color: red;
}
​ .card .diams::before {
  content: "\2666";
  display: flex;
  align-items: flex-start;
  width: 100%;
  color: red;
}
​ .card .diams::after {
  content: "\2666";
  display: flex;
  align-items: flex-start;
  width: 100%;
  transform: rotate(180deg);
  color: red;
}
